{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
<img src="{{ asset ('/img/images_the_district/bg1.jpeg/') }}" width="100%" height="350px">
<br>
<div class="container">
<div class="row">
{{ form_start(form) }}
            {{ form_label(form.nom) }}
						  {{ form_widget(form.nom) }}
                <div class="invalid-feedback">
                    Ce Champ est obligatoire.
                      </div>
      <div class="col-4 col-md-6 ">
            {{ form_label(form.prenom) }}
						  {{ form_widget(form.prenom) }}
                <div class="invalid-feedback">
                    Ce Champ est obligatoire.
                      </div>
                         </div>
       <div class="col-4 col-md-6 ">
            {{ form_label(form.email) }}
              {{ form_widget(form.email) }}
                <div class="invalid-feedback">
                    Ce Champ est obligatoire.
                      </div>
                          </div>
        <div class="col-4 col-md-6">
            {{ form_label(form.telephone) }}
						  {{ form_widget(form.telephone) }}
                 <div class="invalid-feedback">
                    Ce Champ est obligatoire.
                      </div>
                          </div>
        <div class="col-6 col-md-12 ">
            {{ form_label(form.demande) }}
						  {{ form_widget(form.demande) }}
                 <div class="invalid-feedback">
                    Ce Champ est obligatoire.
                      </div>
                          </div>
        <div class="col-12">
          {{ form_widget(form.check) }}
            <div class="invalid-feedback">
                Ce Champ est obligatoire.
                  </div>
                    </div>
              </div>
        <div class="terme col-12 d-flex justify-content-end"><a href="#"><h2>*Terme et condition</h2></a></div>
          <div class="col-12 d-flex justify-content-end">
            {{ form_row(form.btn) }}
              </div>
    {{ form_end(form) }}
        <script src="{{ asset('js/From.js') }}"></script>
          
       
{% endblock %}
