{% extends 'base.html.twig' %}

{% block title %}Catégories{% endblock %}

{% block body %}
<img src="{{ asset ('/img/images_the_district/bg2.jpeg/') }}" height="380px" width="100%">
      <div class="bordure"> <p class=""></p> </div>
      <br>
      <br>
            <div class="page">
            <div class="container-fluid">
            <div class="row ">
{% for categorie in categories %}
            <div class="col-sm-12 col-lg-4">
            <a href="{{ path ('app_catplat', {categorie_id: categorie.id} ) }}">
            <img src="{{ asset ('/img/images_the_district/category/' ~ categorie.image) }}"class="carte1" alt="{{ categorie.libelle }}" style="height:80%">
                <p class="libellecard text-center">{{ categorie.libelle }}</p>
              </a>
</div>
            {% endfor %}
            </div>
            </div>
            </div>
{% endblock %}
