{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<style>
    .borduree{
      border: 10px solid black;
      margin-left:0px;
      margin-top:50px;
    }
</style>
 <div class="container-fluid vvd g-0">
            <nav class="navbar">        
            <div class="row ">
            <form class="d-flex" role="search">
              <input class="form-control me-2 col-2" type="search" id="recherche" placeholder="Rechercher" aria-label="Rechercher">
            </form>
          </div>
        
        </nav>

          <div class="container-fluid">
            <div class="row g-0">
          <video src="{{ asset ('/img/VideoAcc.mp4/') }}" loop autoplay muted alt="video_pizza" title="Vidéo" class="object-fit-fill" id="imga">
          </div>
        </video>
<div class="borduree"></div> 
      </div>
              
          </div>
  <br><br>
           <div class="container-fluid">
  <div class="row">
          {% for categorie in categories %}
            <div class="col-sm-12 col-lg-4">
            <a href="{{ path ('app_catplat', {categorie_id: categorie.id} ) }}">
            <img src="{{ asset ('/img/images_the_district/category/' ~ categorie.image) }}"class="carte1" alt="{{ categorie.libelle }}" style="height:80%">
                <p class="libellecard text-center">{{ categorie.libelle }}</p>
              </a>
              
              </div>
            {% endfor %}
            <div class="borduree"></div> 
             <div class="page">
        
        <div class="para">
<div class="bordureee"><img src="{{ asset ('/img/images_the_district/logo-removebg-preview.png/') }}" width="95%"></div> 

        </div>
        <div class="borduree"></div> 
<div class="platimg">
          <div class="row">
            <p class=" libelleplat fs-1 text-center fw-bold text-decoration-underline text-black mt-5">Plats</p>
            {% for plat in plats %}
<div class="col-sm-12 col-lg-3">
              <a href="#">
              <div class="image-container">
                <img src="{{ asset ('/img/food/' ~ plat.image) }}"class="plat" alt="{{ plat.libelle }}" style="height:80%">
                 <div class="description">{{ plat.description }} <br> <b>{{ plat.prix }}€</b> </div>
                 </div>
              </a>
              </div>
              {% endfor %}
            </div>
            </div>
</div>
</div>
</div>
{% endblock %}
